body {
    background: url('https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/2552430/page_bg_raw.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.converter-window, .example-window {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.converter-window {
    text-align: center;
    width: 350px;
    order: 1;
}

.example-window {
    width: 400px;
    order: 2;
}

.save-locations {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1, h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

p, ul {
    margin: 10px 0;
    text-align: left;
}

.file-input-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

.file-input-wrapper input[type="file"] {
    display: none;
}

.file-input-wrapper label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #003366;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
}

.file-input-wrapper label:hover {
    background-color: #005599;
}

button {
    background-color: #003366;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #005599;
}

a {
    color: #66ccff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.additional-info {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}
